body {
  background-color: #afc2d0;
}

.header-row {
  padding: 0 480px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  margin-bottom: 0.5em;
}

.top-button {
  display: inline-block;
  min-width: 80px;
  height: 30px;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.4em 0;
  outline: none;
  border: 0.16em solid rgba(0, 0, 0, 0.1);
  border-radius: 0.8em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #fffef6;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
}

.top-button:hover {
  border-color: rgba(255, 254, 246, 1);
}

.top-button[disabled] {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.start-button {
  background-color: #81da6b;
}

.pause-button {
  background-color: #ef4161;
}

#resetButton {
  background-color: #ff9c47;
}

#randomButton {
  min-width: 100px;
  background-color: #d555ff;
}

.canvas-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pattern-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pattern-row div h4 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #555555;
  text-align: center;
}

.mainCanvas, .custom-pattern {
  border: 3px solid #555555;
  background-color: #fffef6;
  cursor: pointer;
  transition: border 0.2s;
}

.custom-pattern {
  margin: 0px 5px 0px 10px;
}

.pencilMode {
  cursor: url(../assets/pencil.cur), pointer;
}

.eraseMode {
  cursor: url(../assets/eraser.cur), pointer;
}

.crosshairMode {
  cursor: crosshair;
}

.originPattern {
  margin: 10px 5px 0px 5px;
  border: 3px solid #555555;
  background-color: #fffef6;
  cursor: grab;
}

#dragPattern {
  border: 1px solid #555555;
  opacity: 0.7;
  cursor: grabbing;
}

.custom-area {
  margin: 5px 0 5px 6px;
  padding: 5px 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 1em;
  border-left: 2px solid rgba(0,0,0,0.3);
}

.custom-area div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.custom-area div h4 {
  margin: 0 0 6px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #555555;
  text-align: center;
}

.locked-pattern {
  cursor: grab;
}

.editing-pattern {
  border-color: #81da6b;
}

.cloning-pattern {
  border-color: #59cbda;
}

.edit-button {
  background-color: #81da6b;
}

.clone-button {
  background-color: #59cbda;
}

.lock-button {
  background-color: #606060;
}
