body {
  background-color: #afc2d0;
}

.header-row {
  padding: 0 480px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  margin-bottom: 1em;
}

.top-button {
  display: inline-block;
  min-width: 80px;
  height: 30px;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  outline: none;
  border: 0.16em solid rgba(0, 0, 0, 0.1);
  border-radius: 0.8em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #fffef6;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
}

.top-button:hover {
  border-color: rgba(255, 254, 246, 1);
}

.start-button {
  background-color: #81da6b;
}

.pause-button {
  background-color: #ef4161;
}

#resetButton {
  background-color: #ff9c47;
}

#randomButton {
  background-color: #d555ff;
}

.canvas-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pattern-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pattern-row div h4 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #555555;
  text-align: center;
}

.mainCanvas {
  border: 3px solid #555555;
  background-color: #fffef6;
  cursor: pointer;
}

.pencilMode {
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=72974), pointer;
}

.eraseMode {
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=72976), pointer;
}

#originPattern {
  margin-top: 10px;
  border: 3px solid #555555;
  background-color: #fffef6;
  cursor: grab;
}

#dragPattern {
  border: 1px solid #555555;
  opacity: 0.7;
  cursor: grabbing;
}
