.header-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

#startButton {
  min-width: 70px;
  height: 30px;
  border-radius: 5px;
  background-color: #81da6b;
  margin: 4px;
  font-size: 1rem;
}

#startButton:active {
  background-color: #75c561;
}

.canvas-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

canvas {
  border: 1px solid #555555;
}
